<!DOCTYPE html>
<html>
<head>
    <title>My Product Brand Name</title>
</head>
<body>
    <div id="api"></div>
    <script>
        debugger;
        console.log("window.SETTINGS",window.SETTINGS);
        console.log("window.CONTENT",window.CONTENT)
    </script>
</body>
</html>
